.env
__pycache__/
*.pyc
node_modules/
dist/
.env.local
secrets/*
!secrets/.gitkeep
*.egg-info/
.DS_Store
*.pth
.pytest_cache/
*.log
*.db
*.sqlite
*.sqlite-shm
*.sqlite-wal
.idea/
.vscode/
backend/data/
